mat-sidenav {
  width: 20%;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  height: 100%;
  width: 100%;
  text-align: center;
}

.student-list {
  padding-top: 2.5%;
  width: 100%;
}

.student-table {
  width: 100%
}

table {
  text-align: center;
}

th {
  text-align: center;
}
