<mat-toolbar color="primary" fxLayoutAlign="top top" fxLayout="row">
  <mat-toolbar-row>
    <button mat-icon-button (click)="inputSideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="navbar-title" fxFlex="92">
      {{title}}
    </span>
    <button mat-icon-button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="isLoggingOut"></mat-progress-bar>
