mat-toolbar {
  text-align: center;
}

mat-form-field {
  padding-bottom: 1%;
}

.login-form {
  padding-top: 5%;
}

.pass-field {
  padding-bottom: 5%;
}

.main-div {
  background-color: #3f51b5;
}

.login-btn-ctr {
  width: 100%;
  display: inline-block;
  position: relative;
}

.spinner-ctr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-sub-button {
  width: 100%;
}
