mat-sidenav {
  width: 20%;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  height: 100%;
  width: 100%;
  text-align: center;
}

.table-content {
  width: 100%;
}

table {
  text-align: center;
  width: 50%;
}

.column-name {
  text-align: center;
}

.table-actions {
  width: 100%;
  text-align: center;
}

.table-actions > span {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
